$primary: rgba(255, 49, 49, 1);
$background: rgba(26, 26, 26, 1);
$text: rgba(255, 255, 255, 1);
$neutral: rgba(229, 229, 229, 1);
$highlight: rgba(255, 87, 87, 1);
$error: rgba(217, 4, 41, 1);
$success: rgba(40, 199, 111, 1);
$warning: rgba(255, 179, 0, 1);
$grey: rgba(60, 60, 60, 0.5);
